.subreddit-container {
    width: 50%;
    border-radius: 2%;
    background-color: rgba(255,255,255,0.08);
}

.subreddits-list {
    list-style: none;
}

.subreddit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subreddit-icon {
    max-width: 50px;
    padding: 0rem 1rem;
}

.subreddit {
    padding: 0.5rem;
}


