.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    z-index: 100;
}

.nav-links {
    padding: 0 0.5rem;
    font-size: 1.5rem;
}

.fa-reddit {
    font-size: 2rem;
}

.title-emphasis {
    color: var(--purple);
}