:root {
  --purple: #BB86FC;
  --mid-purple: #3700B3;
  --teal: #03DAC5;
  --dark-grey: #121212;
  --black: #000000;
  --white: #FFFFFF;
  --red: #CF6679;
  --green: #66cf6d;
}

html {
  background-color: var(--dark-grey);
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}